.tooltip_top {
  position: relative;
  display: inline-block;
  transition: 1s;
  border-radius: 50%;
}
.tooltip_top .tt_txt {
  background: #383838;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -60%;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip_top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #383838 transparent transparent transparent;
}
.tooltip_top:hover .tt_txt {
  visibility: visible;
  opacity: 1;
}
.tooltip_top .social-customicon .icon {
  width: 32px;
  height: 32px;
}

.container-social {
  margin-top: 50px;
}
.container-social .nt-social {
  text-align: center;
}

.social-icons__item {
  cursor: pointer;
}
.social-icons__item:hover {
  bottom: 5px;
}
.social-icons__item:hover .tooltip_top {
  transform: translate(0px, -10px);
  color: black;
}