
<div class="container container-content">
    <div class="post-content">
        {%- if section.settings.content1 != blank -%}
            <p>{{section.settings.content1}}</p>
        {%- else -%}
            <p>Typography is the work of <strong>typesetters, compositors, typographers, graphic designers, art directors, manga artists, comic book artists, graffiti artists,</strong> and now—anyone who arranges words, letters, numbers, and symbols for publication, display, or distribution—from clerical workers and newsletter writers to anyone self-publishing materials.</p>
        {%- endif -%}

        {%- if section.settings.content2 != blank -%}
            <blockquote class="blockquote-card">
                <p>{{section.settings.content2}}</p>
            </blockquote>
        {%- else -%}
            <blockquote class="blockquote-card">
                <p>Sed utgio perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </blockquote>
        {%- endif -%}

        {%- if section.settings.content3 != blank -%}
            <p>{{section.settings.content3}}</p>
        {%- else -%}
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        {%- endif -%}
    </div>
</div>

{% schema %}
    {
        "name": "text-content",
        "class": "section-text-content",
        "settings": [
            {
                "type": "text",
                "label": "content top",
                "id": "content1"
            },
            {
                "type": "text",
                "label": "content blockquote",
                "id": "content2"
            },
            {
                "type": "text",
                "label": "content bottom",
                "id": "content3"
            }
        ]
    }
{% endschema %}