<div class="container">
  <div class="lookbook-text">
  {{section.settings.text1}}
  <blockquote>
    {{section.settings.text_blockquote}}
  </blockquote>
  {{section.settings.text2}}</div>
</div>

{% schema %}
{
  "name": "Text content",
  "class": "lookbook-text-section",
  "settings": [
    {
      "type": "richtext",
      "id": "text1",
      "label": "Text above",
      "default": "<p>Typography is the work of <strong>typesetters, compositors, typographers, graphic designers, art directors, manga artists, comic book artists, graffiti artists,</strong> and now—anyone who arranges words, letters, numbers, and symbols for publication, display, or distribution—from clerical workers and newsletter writers to anyone self-publishing materials.</p>"
    },
    {
      "type": "richtext",
      "id": "text_blockquote",
      "label": "Blockquote",
      "default": "<p>Sed utgio perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text below",
      "default": "<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>"
    }
  ]
}
{% endschema %}