.lookbook-text-section {
  margin-top: 60px;

  .lookbook-text {
    color: #878787;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;

    & > * {
      @extend .lookbook-text;
    }

    & > *:not(:last-child) {
      margin-bottom: 18.2px;
    }

    & > blockquote {
      quotes: none;
      background-color: #f1f1f1;
      padding: 20px 25px 30px 60px;
      margin-bottom: 20px;
      position: relative;
      font-style: italic;
      display: block;
      text-align: left;

      &::after {
        content: "“";
        position: absolute;
        top: 0;
        left: 25px;
        color: #999;
        font-size: 50px;
      }
    }
  }
}